/*color of every text. */
* {
	color: rgb(255, 255, 255);
	font-family: Arial, Helvetica, sans-serif;
}

/* This css centers at the middle of the screen */
#Commands {
	text-shadow: 2px 2px 5px #424242;
    position: absolute;
    color: rgb(161, 4, 4);
    top: 43%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 45px;
	text-align: center;
	background-color: #272727;
	border-radius: 8px;
    border: 2px solid #0668e7 ;
    height: 526px;
    width: 510px;
}

.small {
	font-size: 25px;
}

img{
    padding-left: 85px;
    height: 400px;
    width: 400px;
}

h1{
    font-size: 15px;
}

h2{
    margin-top: 10px;
    font-size: 38;
}

h3{
    text-align: center;
    color: rgb(255, 255, 255);
    padding-left: 0px;
    padding-top: 13px;
    font-size: 14px;
   
}

h4{
    text-align: center;
    padding-top: 50px;
    font-size: 14;
}

h5{
    text-align: center;
    font-size: 13;
    padding-left: 0px;
    background-color: #6e6e6e04;
}

h6{
    text-align: center;
    font-size: 13;
    margin-left: 6px;
}

img{
    height: 16px;
    width: 350px;
    border-radius: 8px;
    padding-right: 180px;
    padding-top: 4px;
}

.style{
    height: 400px;
}

ol{
    font-size: 12px;
    padding-top: 3px;
}




